html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-hidde {
  display: none !important;
}
.btn-not-select {
  border: none;
  cursor: pointer;
}
.btn-select {
  border: solid 2px grey !important;
  cursor: pointer;
}
